<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-png" href="/images/icon.png"/>

<title><%= titulo_page %></title>
<meta name="description" content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana.">
<meta name="keywords" content="ingressos,ingressou,entrada,show,balada,sites,e-commerce,venda ingressos">
<meta name="author" content="cheype.com.br">

<meta property="fb:app_id" content="587840278225690">
<meta property="og:locale" content="pt_br">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Ingressou">
<meta property="og:url" content="<%= url_page %>"/>
<meta property="og:title" content="<%= titulo_page %>" />
<meta property="og:description"  content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana."/>
<meta property="og:image" content="<%= imagem %>" />

<!-- Font -->
<link href="/stylesheets/open_sans.css" rel="stylesheet">

<!-- Estilo bootstrap -->
<link rel="stylesheet" href="/libraries/bootstrap_v4/css/bootstrap.min.css">
<!-- Arquivo de estilo -->
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- Webfonts icons do google -->
<link rel="stylesheet" href="/libraries/webfont/css/materialdesignicons.min.css">
