<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-png" href="/images/icon.png"/>

<title><%= titulo %></title>
<meta name="description" content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana.">
<meta name="keywords" content="ingressos,ingressou,entrada,show,balada,sites,e-commerce,venda ingressos">
<meta name="author" content="cheype.com.br">

<meta property="og:locale" content="pt_br">
<meta property="og:type" content="article">
<meta property="og:site_name" content="<%= titulo %>">
<meta property="og:url" content="http://ingressou.com"/>
<meta property="og:title" content="Ingressou" />
<meta property="og:description"  content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana."/>
<meta property="og:image" content="www.ingressou.com/images/perfil.jpg" />
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="500">
<meta property="og:image:height" content="500">

<!-- Font -->
<link href="/stylesheets/open_sans.css" rel="stylesheet">

<!-- Estilo bootstrap -->
<link rel="stylesheet" href="/libraries/bootstrap_v4/css/bootstrap.min.css">
<!-- Arquivo de estilo -->
<link rel="stylesheet" href="/stylesheets/style.css">
<!-- Webfonts icons do google -->
<link rel="stylesheet" href="/libraries/webfont/css/materialdesignicons.min.css">
