<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">

  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container my-5">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <div class="p-3 card card-secondary mt-4">
          <div class="card-body">
            <h5 class="mb-0 mb-3">Cadastrar sua conta</h5>
            <div class="preview-form"></div>
            <form action="javascript:cadastrar()" name="form" class="row m-0">
              <span><strong>Nome completo:</strong></span>
              <input type="text" name="nome" class="form-control form-group" required>
              <span><strong>CPF:</strong></span>
              <input type="text" name="cpf" class="cpf form-control form-group" required>
              <span><strong>Email:</strong></span>
              <input type="email" name="email" class="form-control form-group" required>

              <div class="container-fluid p-0">
                <div class="form-row">
                  <div class="col-md-6">
                    <span><strong>Celular:</strong></span>
                    <input type="text" name="celular" class="celular form-control form-group" required>
                  </div>
                  <div class="col-md-6">
                    <span><strong>Telefone:</strong></span>
                    <input type="text" name="telefone" class="celular form-control form-group">
                  </div>
                </div>
              </div>

              <div class="container-fluid p-0">
                <div class="form-row">
                  <div class="col-md-6">
                    <span><strong>Senha:</strong></span>
                    <input type="password" name="senha" class="form-control form-group input-senha" required>
                  </div>
                  <div class="col-md-6">
                    <span><strong>Confirmar senha:</strong></span>
                    <input type="password" name="senha2" class="form-control form-group input-senha" required>
                  </div>
                </div>
              </div>

              <button type="submit" name="button" class="btn btn-primary btn-lg d-block px-5 mt-2 mx-auto">Cadastrar</button>
            </form>
          </div>
        </div>

        <a href="/admin/login" class="btn btn-lg d-block bg-light text-dark py-3 mt-4 font-normal rounder-0">Voltar para o Login</a>
      </div>
    </div>
  </section>

  <%- include('../public/include/preFooter.html') -%>

  <%- include('../public/include/footer.html') -%>

  <!-- JavaScript jquery -->
  <script src="../libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="../libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="../libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>

  <script src="../libraries/jquery/jquery.mask.min.js" charset="utf-8"></script>
  <script src="../javascripts/root.js" charset="utf-8"></script>

  <script type="text/javascript">
    $(".radioSexo").on('change', function () {
      $(".btn-radioSexo").removeClass("btn-secondary").addClass("btn-outline-secondary")
      $(this).next('.btn-radioSexo').removeClass("btn-outline-secondary").addClass("btn-secondary")
    })

    $(".input-senha").on('blur', function () {
      if(form.senha.value && form.senha2.value){
        if(form.senha.value === form.senha2.value){
          $(".input-senha").removeClass("border-secondary border-danger").addClass("border-success")
        }else {
          $(".input-senha").removeClass("border-secondary boder-success").addClass("border-danger")
        }
      }
    })

    function cadastrar() {
      if(form.senha.value !== form.senha2.value){
        $(".preview-form").html("<div class='alert alert-warning' role='alert'><strong>Alerta</strong> Senhas diferentes!</div>")
        setTimeout(function () {
          $(".alert").fadeOut("slow","linear",function () {
            $(this).alert('close')
          })
        }, 3000);
        return false;
      }

      var _cadastro = {
        "nome": form.nome.value,
        "cpf": form.cpf.value,
        "email": form.email.value,
        "celular": form.celular.value,
        "telefone": form.telefone.value ? form.telefone.value : null,
        "senha": form.senha.value
      }

      $.ajax({
        url: hostApi+"/usuario",
        method: "post",
        data: JSON.stringify(_cadastro),
        cache: false
      }).done(function (res) {
        $(".preview-form").html("<div class='alert alert-success' role='alert'><strong>Tudo Pronto!</strong> Ative seu cadastro pelo email!</div>")
      }).fail(function (res) {
        console.log("Error", res);
      })
    }

    (function () {
      var SPMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-000099';
      },
      spOptions = {
        onKeyPress: function(val, e, field, options) {
          field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
      };

      $('.cpf').mask('000.000.000-00');
      $('.celular').mask(SPMaskBehavior, spOptions);
    })()
  </script>
</body>
</html>
