<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">
  <!-- Seu site -->
  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container py-5 my-4">
    <h2 class="text-center text-write">Deixe uma mensagem para nós!</h2>
    <p class="text-center text-light">No rodapé dessa página você encontra mais opções de contato.</p>

    <div class="row justify-content-center mt-5">
      <form class="col-sm-6" action="index.html" method="post">
        <input type="text" name="" value="" placeholder="Seu nome" class="form-control form-control-lg form-group">
        <input type="text" name="" value="" placeholder="Seu email" class="form-control form-control-lg form-group">
        <input type="text" name="" value="" placeholder="Seu telefone" class="form-control form-control-lg form-group">
        <textarea name="name" rows="3" class="form-control form-control-lg form-group" placeholder="Você escreve a sua mensagem aqui."></textarea>
        <button type="button" name="button" class="btn btn-lg btn-default px-4 d-block ml-auto">Enviar</button>
      </form>
    </div>

  </section>

  <%- include('../public/include/preFooter.html') -%>

  <footer>
    <%- include('../public/include/footer.html') -%>
  </footer>


  <!-- JavaScript jquery -->
  <script src="./libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="./libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="./libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>

  <script src="./javascripts/root.js" charset="utf-8"></script>

  <script type="text/javascript">
  $(function() {
    $(".btn-nav-contato").addClass('active')
  })()
  </script>
</body>
</html>
