<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-png" href="/images/icon.png"/>

  <title><%= titulo %></title>
  <meta name="description" content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana.">
  <meta name="keywords" content="ingressos,ingressou,entrada,show,balada,sites,e-commerce,venda ingressos">
  <meta name="author" content="cheype.com.br">

  <meta content="pt_br" property="og:locale">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="<%= titulo %>">
  <meta property="og:url" content="https://ingressou.com"/>
  <meta property="og:title" content="Ingressou" />
  <meta property="og:description"  content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana."/>
  <meta property="og:image" content="images/perfil.jpg" />
  <meta property="og:image:type" content="image/jpg">

  <!-- Font -->
  <link href="./stylesheets/open_sans.css" rel="stylesheet">

  <!-- Estilo bootstrap -->
  <link rel="stylesheet" href="./libraries/bootstrap_v4/css/bootstrap.min.css">
  <!-- Arquivo de estilo -->
  <link rel="stylesheet" href="./stylesheets/style.css">
  <!-- Webfonts icons do google -->
  <link rel="stylesheet" href="./libraries/webfont/css/materialdesignicons.min.css">

  <!-- Inclusão por tag js (ex.: include='caminho') -->
  <script src="./libraries/include/myInclude.js" charset="utf-8"></script>
</head>
<body class="bg-page">
  <!-- Seu site -->
  <header class="text-dark" include="/include/header.html"></header>

  <section class="container py-5 my-4">
    <h2 class="text-center text-write">Deixe uma mensagem para nós!</h2>
    <p class="text-center text-light">No rodapé dessa página você encontra mais opções de contato.</p>

    <div class="row justify-content-center mt-5">
      <form class="col-sm-6" action="index.html" method="post">
        <input type="text" name="" value="" placeholder="Seu nome" class="form-control form-control-lg form-group">
        <input type="text" name="" value="" placeholder="Seu email" class="form-control form-control-lg form-group">
        <input type="text" name="" value="" placeholder="Seu telefone" class="form-control form-control-lg form-group">
        <textarea name="name" rows="3" class="form-control form-control-lg form-group" placeholder="Você escreve a sua mensagem aqui."></textarea>
        <button type="button" name="button" class="btn btn-lg btn-default px-4 d-block ml-auto">Enviar</button>
      </form>
    </div>

  </section>

  <section include="/include/preFooter.html"></section>

  <footer include="/include/footer.html"></footer>


  <!-- JavaScript jquery -->
  <script src="./libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="./libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="./libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>

  <script src="./javascripts/root.js" charset="utf-8"></script>

  <script type="text/javascript">
  $(function() {
    window.onload = function() {
      $(".btn-nav-contato").addClass('active')
    }
  })
  </script>
</body>
</html>
