<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-png" href="/images/icon.png"/>

  <title><%= titulo %></title>
  <meta name="description" content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana.">
  <meta name="keywords" content="ingressos,ingressou,entrada,show,balada,sites,e-commerce,venda ingressos">
  <meta name="author" content="cheype.com.br">

  <meta content="pt_br" property="og:locale">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="<%= titulo %>">
  <meta property="og:url" content="https://ingressou.com"/>
  <meta property="og:title" content="Ingressou" />
  <meta property="og:description"  content="Veja os eventos que acontecem na região do cariri e não fique sem sair de casa no final de semana."/>
  <meta property="og:image" content="images/perfil.jpg" />
  <meta property="og:image:type" content="image/jpg">

  <!-- Font -->
  <link href="/stylesheets/open_sans.css" rel="stylesheet">

  <!-- Estilo bootstrap -->
  <link rel="stylesheet" href="/libraries/bootstrap_v4/css/bootstrap.min.css">
  <!-- Arquivo de estilo -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Webfonts icons do google -->
  <link rel="stylesheet" href="/libraries/webfont/css/materialdesignicons.min.css">

  <!-- Inclusão por tag js (ex.: include='caminho') -->
  <script src="/libraries/include/myInclude.js" charset="utf-8"></script>
</head>
<body class="bg-page">
  <!-- Seu site -->

  <header class="text-dark" include="/include/header.html"></header>

  <section class="container-fluid p-0">
    <div class="w-100 banner-evento" style="background-image: url('/images/banner_eventos/04.png');">
      <img src="/images/banner_eventos/04.png" alt="" class="w-100 invisible">
    </div>
  </section>

  <section class="container border-0 mb-5">
    <div class="row justify-content-center">
      <div class="col-sm-10 box-evento">
        <div class="card bg-white border-0 rounded-0">

          <div class="card-body">
            <h1 id="titulo" class="mt-0 mb-3"></h1>

            <iframe id="mapa" src="" width="60%" height="200" frameborder="0" style="border:0" allowfullscreen class="float-right ml-3 mb-3"></iframe>
            <div id="descricao"></div>

            <hr class="my-4" style="clear: both">

            <h3 id="periodoEvento">Periodo do evento:</h3>
            <div class="border border-secondary bg-light pt-2 mt-3">
              <div class="slide-date-ingressos mb-3">
                <ul id="listAbaData"></ul>
                <button type="button" name="button" class="prev bg-light">
                  <span class="mdi mdi-chevron-left mdi-24px"></span>
                </button>
                <button type="button" name="button" class="next bg-light">
                  <span class="mdi mdi-chevron-right mdi-24px"></span>
                </button>
              </div>
              <div class="box-tipo-ingressos">
                <form id="formTiposIngressos">
                  <ul id="listDetalhesIngresso" class='m-0 p-0'></ul>
                </form>
              </div>
            </div>

            <!-- <div class="resumo mt-4">
              <h3>Resumo</h3>
              <table class="table table-resumo">
                <thead>
                  <tr>
                    <th class="w-50">Nome</th>
                    <th class="text-center">Data</th>
                    <th class="text-center">Quantidade</th>
                    <th class="text-right w-25">Valor</th>
                  </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
              </table>
            </div>

            <button type="button" class="btn btn-lg btn-success btn-comprar border-0 rounded-0 float-right px-3 px-sm-5" disabled>Comprar <span class="mdi mdi-chevron-right"></span></button> -->

          </div>
        </div>
      </div>
    </div>
  </section>

  <section include="/include/preFooter.html"></section>

  <footer include="/include/footer.html"></footer>


  <!-- JavaScript jquery -->
  <script src="/libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="/libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="/libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>
  <!-- Sly Slide -->
  <script src="/libraries/sly/sly.min.js" charset="utf-8"></script>

  <script src="/libraries/purl/purl.min.js" charset="utf-8"></script>

  <script src="/libraries/moments/moment.min.js" charset="utf-8"></script>
  <script src="/libraries/moments/pt-br.js" charset="utf-8"></script>

  <script src="/libraries/include/myInclude.js" charset="utf-8"></script>

  <script src="/javascripts/mask.js" charset="utf-8"></script>
  <script src="/javascripts/root.js" charset="utf-8"></script>
  <script src="/javascripts/diretivas.js" charset="utf-8"></script>

  <script type="text/javascript">
  $(function () {

    // var $bComprar = $('button.btn-comprar')
    var ingressos = dir.ingressos

    $('.btn-facil-comprar').on('click', function () {
      $('html,body').animate({
        scrollTop: $('#periodoEvento')[0].offsetTop
      }, 300);
    })

    function getEvento() {
      $.ajax({
        url: hostApi+'/evento/<%= link %>',
        cache: 'false'
      }).done(function (res) {

        console.log(res)
        $("#titulo").html(res.titulo)
        $("#descricao").html(res.descricao)
        $("#mapa").attr('src', res.mapa)

        res.periodos.forEach(function (elem) {
          $("#listAbaData").append(dir.abaDataEvento(elem))
          $("#listDetalhesIngresso").append(dir.detalhesIngresso(elem))
        })
        frame.init()
        // controleQtd()

      }).fail(function (res) {

        console.log("error")

        setTimeout(function () {
          getEvento()
        }, 1000);

      })
    }
    getEvento()

    var $wrap  = $('.slide-date-ingressos').parent()
    var slyOptions = {
      horizontal: 1,       itemNav: 'centered',
      smart: 1,            activateMiddle: 1,
      activateOn: 'click', mouseDragging: 1,
      touchDragging: 1,    releaseSwing: 1,
      startAt: 0,          scrollBy: 1,
      speed: 300,          elasticBounds: 1,
      easing: 'linear',    dragHandle: 1,
      dynamicHandle: 1,

      // Buttons
      prev: $wrap.find('.prev'),
      next: $wrap.find('.next')
    }

    var frame = new Sly('.slide-date-ingressos', slyOptions, {
      active: function (e, i) {
        $('.box-tipo-ingressos ul .active').removeClass('active')
        $($('.box-tipo-ingressos ul li')[i]).addClass('active')
      }
    })

    // function atualizaTotal() {
    //   var $list = $('.ingressoValue')
    //   var $tfoot = $('.table-resumo tfoot')
    //   var _total = 0
    //
    //   $list.each(function () {
    //     _total += mask.desFormatValor( $(this).text() )
    //   })
    //
    //   _total ? $bComprar.removeAttr("disabled") : $bComprar.attr("disabled", true)
    //   $tfoot.html("<tr><td colspan='3' class='text-right'>Total</td><td class='text-right'>"+mask.formatValor(_total)+"</td></tr>")
    // }
    //
    // function povoaTabela(obj) {
    //   var _obj = obj
    //   var $table = $('.table-resumo')
    //   var $tr = $("#"+_obj.id)
    //
    //   if(!$tr[0]){
    //     $table.find('tbody').append("<tr id='"+_obj.id+"'><td>"+_obj.nome+"</td><td class='text-center'>"+moment(_obj.data).format('DD/MM/YYYY')+"</td><td class='ingressoQtd text-center'>"+_obj.quantidade+"</td><td class='ingressoValue text-right'>"+mask.formatValor(_obj.quantidade*_obj.valor)+"</td></tr>")
    //     atualizaTotal()
    //   }else{
    //     if (parseInt(_obj.quantidade) > 0) {
    //       $tr.find(".ingressoQtd").text(_obj.quantidade)
    //       $tr.find(".ingressoValue").text(mask.formatValor(_obj.quantidade*_obj.valor))
    //       atualizaTotal()
    //     }else{
    //       $tr.remove();
    //       atualizaTotal()
    //     }
    //   }
    // }
    //
    // function controleQtd() {
    //   /* Escolhendo quantidade dos ingressos */
    //   $('.qtdIngressos .minus').on('click', function () {
    //     $input = $(this).next()
    //     if(parseInt($input.val()) > 0){
    //       $input.val( parseInt($input.val()) - 1 )
    //
    //       ingressos.forEach(function (e) {
    //         if (e.id == $input[0].name) {
    //           e.quantidade = $input.val()
    //           povoaTabela(e)
    //         }
    //       })
    //     }
    //   })
    //   $('.qtdIngressos .plus').on('click', function () {
    //     $input = $(this).prev()
    //     max = parseInt( $input.parent().find('.valueMax').val() )
    //     if (parseInt($input.val()) < max){
    //       $input.val( parseInt($input.val()) + 1 )
    //
    //       ingressos.forEach(function (e) {
    //         if (e.id == $input[0].name) {
    //           e.quantidade = $input.val()
    //           povoaTabela(e)
    //         }
    //       })
    //     }
    //   })
    // }
    //
    // $('#formTiposIngressos').on("submit", function( event ) {
    //   event.preventDefault()
    //   var tiposIngressos = []
    //   $( this ).serialize().split('&').forEach(function(e) {
    //     tiposIngressos[e.split('=')[0]] = e.split('=')[1]
    //   })
    //   console.log(tiposIngressos);
    // })
  })
  </script>
</body>
</html>
