<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">
  <!-- Seu site -->

  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container py-5 mt-5 px-4 list-home-eventos">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card-columns">
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/sh0.08/e35/p750x750/25011623_1993126077637312_704902754312650752_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/sh0.08/e35/p750x750/25009200_775410989314887_2306782971396358144_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/s750x750/sh0.08/e35/25007564_152054845418906_9117344932292460544_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/s750x750/sh0.08/e35/25008767_159405578147027_6685418910382030848_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/sh0.08/e35/p640x640/25009936_133567427320434_3046790688147505152_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/s750x750/sh0.08/e35/25013115_137002203744678_7798259969161166848_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div>
          <div class="card bg-light">
            <img class="card-img-top" src="https://instagram.frec1-2.fna.fbcdn.net/t51.2885-15/sh0.08/e35/p750x750/25009034_350626955403659_5603845234992611328_n.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class='card-title font-weight-normal text-truncate'>Jua Folia</h5>
              <div class='font-ligh row card-descricao'>
                <div class='col'>
                  <span class='mdi mdi-calendar text-warning'></span> 28/10/2017
                </div>
                <div class='col text-right col-localizacao'>
                  Teste <span class='mdi mdi-map-marker text-warning'></span>
                </div>
                <div class='col text-right col-comprar text-uppercase'>
                  comprar <span class='mdi mdi-chevron-right text-warning'></span>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>

  <%- include('../public/include/preFooter.html') -%>

  <footer>
    <%- include('../public/include/footer.html') -%>
  </footer>


  <!-- JavaScript jquery -->
  <script src="./libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="./libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="./libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>

  <script src="/libraries/moments/moment.min.js" charset="utf-8"></script>
  <script src="/libraries/moments/pt-br.js" charset="utf-8"></script>

  <script src="./javascripts/root.js" charset="utf-8"></script>
  <script src="./javascripts/diretivas.js" charset="utf-8"></script>

  <script type="text/javascript">
  (function () {
    var $list
    var $boxLista = $(".list-home-eventos .card-columns")
    var control = null
    $('.btn-nav-home').addClass('active')

    $.ajax({
      url: hostApi+'/evento/lista',
      cache: true,
    }).done(function (e) {
      (e.dados).forEach(function (elem) {
        elem.imagem = hostApi+'/image/'+elem.imagem
        $boxLista.append(dir.cardEvento(elem))
      })
      $list = $(".card-evento")
    }).fail(function () {
      console.log('Error');
    })

    $(document).keydown(function(e){
      if (e.which === 37 || e.which === 39 || e.which === 27) {
        if (control === null) { /* Inicializa o focus nos cards */
          control = 0
          $list[control].focus()
        }else{

          if(e.which === 27){ /* Tecla ESC */
            $list[control].blur()

            return false
          }
          if(e.which === 37){ /* Tecla para esquerda */
            if ($list[control-1]) {
              control = control-1
              $list[control].focus()
            }

            return false
          }
          if(e.which === 39){ /* Tecla para direita */
            if ($list[control+1]) {
              control = control+1
              $list[control].focus()
            }

            return false
          }
        }
      }
    })
  })()

  // function cardMaisEventos() {
  //   var elem = $('.card-mais-eventos')
  //
  //   elem.hasClass('active') ? elem.removeClass('active') : elem.addClass('active')
  // }
  </script>
</body>
</html>
