<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">
  <!-- Seu site -->

  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container py-5 mt-5 px-4 list-home-eventos">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card-columns"></div>
      </div>
    </div>
  </section>

  <%- include('../public/include/preFooter.html') -%>

  <footer>
    <%- include('../public/include/footer.html') -%>
  </footer>


  <!-- JavaScript jquery -->
  <script src="./libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="./libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="./libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>

  <script src="/libraries/moments/moment.min.js" charset="utf-8"></script>
  <script src="/libraries/moments/pt-br.js" charset="utf-8"></script>

  <script src="./javascripts/root.js" charset="utf-8"></script>
  <script src="./javascripts/diretivas.js" charset="utf-8"></script>

  <script type="text/javascript">
  (function () {
    var $list = ''
    var $boxLista = $(".list-home-eventos .card-columns")
    var control = null
    $('.btn-nav-home').addClass('active')

    $.ajax({
      url: hostApi+'/evento/lista',
      cache: true,
    }).done(function (e) {
      var teste = "";
      (e.dados).forEach(function (elem) {
        // elem.imagem = hostApi+'/image/'+elem.imagem
        teste += dir.cardEvento(elem)
      })
      $boxLista.append(teste)
      $list = $(".card-evento")
    }).fail(function () {
      console.log('Error');
    })

  })()

  // function cardMaisEventos() {
  //   var elem = $('.card-mais-eventos')
  //
  //   elem.hasClass('active') ? elem.removeClass('active') : elem.addClass('active')
  // }
  </script>
</body>
</html>
