<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">
  <!-- Seu site -->

  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container my-5 text-light text-center">
    <h2>Dê mais visibilidade ao seu evento</h2>
    <p class="font-ligh">Preencha o formulário corretamente para adicionar seu evento no nosso site.</p>
  </section>

  <%- include('../public/include/preFooter.html') -%>

  <%- include('../public/include/footer.html') -%>



  <!-- JavaScript jquery -->
  <script src="/libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="/libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="/libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/libraries/purl/purl.min.js" charset="utf-8"></script>

  <script src="/javascripts/root.js" charset="utf-8"></script>
</body>
</html>
