<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../public/include/head.html') -%>
</head>
<body class="bg-page">

  <header class="text-dark">
    <%- include('../public/include/header.html') -%>
  </header>

  <section class="container my-5">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-6">
        <div class="p-3 card card-secondary mt-4">
          <div class="card-body">
            <h5 class="mb-0 mb-3">Acessar Conta</h5>
            <form action="javascript:logar()" name="form" class="row m-0">
              <input type="text" name="cpf" value="05725430340" class="form-control form-control-lg border-secondary form-group" placeholder="CPF" required pattern="^[0-9]{11}?" title="Somente números.">
              <input type="password" name="senha" value="123456" class="form-control form-control-lg border-secondary form-group" placeholder="Senha">
              <button type="button" name="button" class="btn bg-white text-danger px-0 float-left d-none d-lg-block">Esqueci minha senha!</button>
              <button type="submit" name="button" class="btn btn-secondary px-5 ml-auto">Entrar</button>
            </form>
            <button type="button" name="button" class="btn text-danger bg-transparent px-sm-5 pb-sm-3 mt-3 mx-auto d-block d-lg-none">Esqueci minha senha!</button>
          </div>
        </div>

        <a href="/admin/cadastro" class="btn btn-lg d-block bg-light text-dark py-3 mt-4 font-normal rounder-0">Quero me cadastrar</a>
      </div>
    </div>
  </section>

  <%- include('../public/include/preFooter.html') -%>

  <%- include('../public/include/footer.html') -%>

  <!-- JavaScript jquery -->
  <script src="../libraries/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
  <!-- JavaScript popper -->
  <script src="../libraries/bootstrap_v4/js/popper.min.js" charset="utf-8"></script>
  <!-- JavaScript bootstrap -->
  <script src="../libraries/bootstrap_v4/js/bootstrap.min.js" charset="utf-8"></script>

  <script src="../javascripts/root.js" charset="utf-8"></script>

  <script type="text/javascript">
  function logar() {
    var _login = {
      "cpf": form.cpf.value,
      "senha": form.senha.value
    }

    $.ajax({
      url: hostApi+"/login",
      method: "post",
      cache: false,
      data: _login
    }).done(function (res) {
      console.log("Sucesso", res);
    }).fail(function (res) {
      console.log("Error", res.responseJSON);
    })

  }



  $.ajax({
    url: hostApi+'/login',
    xhrFields: {
      withCredentials: true
   }
 }).done(function (res) {
   console.log('sucesso', res);
 }).fail(function (res) {
   console.log('error', res);
 })

  </script>
</body>
</html>
